---
layout: default
chapter:
  - paragraph:
    - nb: 1
      content: "Paul, an apostle, (not of men, neither by man, but by Jesus Christ, and God the Father, who raised him from the dead;)"
    - nb: 2
      content: "And all the brethren which are with me, unto the churches of Galatia:"
    - nb: 3
      content: "Grace be to you and peace from God the Father, and from our Lord Jesus Christ,"
    - nb: 4
      content: "Who gave himself for our sins, that he might deliver us from this present evil world, according to the will of God and our Father:"
    - nb: 5
      content: "To whom be glory for ever and ever. Amen."
  - paragraph:
    - nb: 1
      content: "Paul, an apostle, (not of men, neither by man, but by Jesus Christ, and God the Father, who raised him from the dead;)"
    - nb: 2
      content: "And all the brethren which are with me, unto the churches of Galatia:"
    - nb: 3
      content: "Grace be to you and peace from God the Father, and from our Lord Jesus Christ,"
    - nb: 4
      content: "Who gave himself for our sins, that he might deliver us from this present evil world, according to the will of God and our Father:"
    - nb: 5
      content: "To whom be glory for ever and ever. Amen."
---

<h1>About page</h1>
<p>{{ page.hello_text }}</p>

{% for item in page.chapter %}
<p>
  {% for verse in item.paragraph %}
  <sup>{{ verse.nb }}</sup>{{ verse.content }}
  {% endfor %}
</p>
{% endfor %}
