---
hello_text: "Hello there!"
show_footer: false
verse:
  - nb: 1
    content: "Hello"
  - nb: 2
    content: "Hello"
  - nb: 3
    content: "Hello"
  - nb: 4
    content: "Hello"
  - nb: 5
    content: "Hello"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <h1>About page</h1>
    <p>{{ page.hello_text }}</p>

    <ul>
      {% for v_item in page.verse %}
      <li><sup>{{ v_item.nb }}</sup>{{ v_item.content }}</li>
      {% endfor %}
    </ul>

    {% if page.show_footer %}
      <footer>I am a footer</footer>
    {% endif %}
  </body>
</html>
